<!doctype html>

<html>
<head>
	<title>Search</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- This is the Google Font -->
	<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400|Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	<script src="js/jquery.js"></script>
	<!--<script src="js/jquery-ui.js"></script>-->
	<script src="js/script.js"></script>

</head>

<body ng-app="FilterInControllerModule">
	<div class="header">
  <ul class="navi"><h4>
    <li><button id="homebtn" class="btn-hci" onclick="location.href='/'">Home</button>|</li>
    <li><button id="searchbtn" class="btn-hci" onclick="location.href='/search'">Mentor Search</button>|</li>
    <li><button id="profilebtn" class="btn-hci" onclick="location.href='/profile'">Profile</button></li>
  </h4></ul>
</div>
	<div class="container" >
		<!-- PAGE TITLE -->
		<div>
			<h1>Search</h1>
		</div>

		<div ng-controller="FilterController as ctrl">
			<input type="text" class="form-control" ng-model="search" placeholder="Search" name="search">
			<hr>

			<div ng-repeat="mentor in ctrl.array | filter:search" >
				<a href="#" class="thumbnail">
					<div class = "searchImg" id="{% mentor.mentorName %}" style="background-image: url('images/{% mentor.mentorImg %}');"><img src="images/{% mentor.mentorImg %}"></div>
					<p><b>Name:</b> {% mentor.mentorName %} 
						<br><b>MOOCs:</b> {% mentor.mentorMOOC %}
						<br><b>Mentoring in:</b> {% mentor.mentorTeach %}
					</p>
				</a>

			</div>
		</div>

<!--
				<input type="submit" id="message" class="btn btn-default" class="ui-content" value="Connect"></input>

		{{#each mentor}}
		<div class = "searchImg" style="background-image: url('images/{{mentorImg}}');"><img src="images/{{mentorImg}}"></div>
		<p><b>Name:</b> {{mentorName}}
		<br><b>MOOCs:</b> {{mentorMOOC}}
		<br><b>Mentoring in:</b> {{mentorTeach}}
		</p>
		<input type="submit" id="message" class="btn btn-default" class="ui-content" value="Connect"></input>
		<hr>
		{{/each}}
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the
		browser where to go when the user clicks

		<div class="modalex">
    <div id="messageform" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Wow much connections </h2>
                </div>
                <div class="modal-body">
                   <form id="new-project-form" role="form">
    					<div class="form-group">
      						<label for="summary">Message</label>
      						<textarea type="text" class="form-control" id="summary" rows="3" placeholder="Wow, Very Project!  Such Summary!"></textarea>
    					</div>
    					<button id="sendmsg" type="button" class="btn btn-default">Submit</button>
  					</form>
  				</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
-->
<div class="modalex">
	<div id="goal-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">
					Mentor Profile</h4>
				</div>
				<div class="modal-body">
					<p>About me: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus lobortis massa. Donec pharetra, odio ac pretium rhoncus, arcu mi feugiat felis, quis convallis ante ante at lacus. Aliquam elementum purus sit amet rhoncus sodales. Vestibulum finibus finibus dolor ac maximus. Phasellus placerat, elit nec gravida molestie, nunc tellus vulputate enim, vitae venenatis est velit sed est. Suspendisse imperdiet, sem in lacinia rutrum, arcu dolor mollis dolor, vitae hendrerit odio urna ut urna. Phasellus urna dolor, maximus et ligula ac, blandit egestas ante.
					</p>
					
					<form id="new-project-form" role="form" method="post" action="/search">
						<div class="ui-field-contain">
	     			 		<label for="name">Name: </label>
	      					<input type="text" class="form-control"  id="name" placeholder="Name" name="name">
	    				
	    				<div class="form-group">
	      					<label for="email">Email: </label>
	     					<input type="text" class="form-control"  id="email" placeholder="your email" name="email">
	   					</div>
						<div class="form-group">
							<label for="summary">Message: </label>
							<textarea type="text" class="form-control"  id="summary" rows="3" placeholder="Wow, Very Mentor!  Such Email!"></textarea>
						</div>
						<button id="sendmsg" type="button" class="btn btn-default">Submit</button>
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

</div>

<script src="/js/bootstrap.min.js"></script>
<script src="js/introHCI.js"></script>
</body>
</html>
